<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<welcome-file-list>
		<welcome-file>1.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>context1</param-name>
		<param-value>全局变量</param-value>
	</context-param>
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>a_servlet.HelloServlet</servlet-class>
		<init-param>
			<param-name>paramName1</param-name>
			<param-value>paramValue1</param-value>
		</init-param>
		<init-param>
			<param-name>paramName2</param-name>
			<param-value>paramValue2</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/helloworld</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AServlet</servlet-name>
		<servlet-class>a_servlet.AServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AServlet</servlet-name>
		<url-pattern>/A</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>count</servlet-name>
		<servlet-class>a_servlet.CountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>count</servlet-name>
		<url-pattern>/count</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DServlet</servlet-name>
		<servlet-class>a_servlet.DServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DServlet</servlet-name>
		<url-pattern>/D</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EServlet</servlet-name>
		<servlet-class>a_servlet.EServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EServlet</servlet-name>
		<url-pattern>/E</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AA</servlet-name>
		<servlet-class>b_servlet.AServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AA</servlet-name>
		<url-pattern>/AA</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>R</servlet-name>
		<servlet-class>b_servlet.RequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>R</servlet-name>
		<url-pattern>/R</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>P</servlet-name>
		<servlet-class>b_servlet.ParamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>P</servlet-name>
		<url-pattern>/ParamServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CA</servlet-name>
		<servlet-class>c_servlet.AServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CA</servlet-name>
		<url-pattern>/CA</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CB</servlet-name>
		<servlet-class>c_servlet.BServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CB</servlet-name>
		<url-pattern>/CB</url-pattern>
	</servlet-mapping>
	
</web-app>